.container-planes{
    /*background-image: url(https://i.postimg.cc/bwVYVGYg/black-texture.jpg);*/
    padding: 30px;
    border-bottom: 0.5px solid #80808073;
}
.card-precios{
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px black;
  
    

}
.card-precios:hover{
    transform: scale(1.05);
    transition: 1s;
}
.titulo-planes{
    color: orangered;
}
.titulo-planes p{
    color: white;
    font-size: 1.1rem;
}
.card-precios .card-title{
    color: antiquewhite;
}
.card-precios .card-text{
    color: antiquewhite;
}
.card-precios .card-header{
    color: antiquewhite;
    font-size: 2rem;
    color: orangered;
    border-bottom: solid rgba(128, 128, 128, 0.514) 1px;
}
.row-cards{
    justify-content: space-around;
}
.card-precios a{
    background: transparent;
    border: solid orangered 1px;
}
.card-precios a:hover{
    background-color: orangered;
    border: solid orangered 1px;
}
.card-title{
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 600;
}
.div-codigo{
    background-color: white;
    width: 150px;
    height: 150px;
}
.div-codigo img{
    max-width: 100%;
}
.codigo-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.codigo-container p{
color: orangered;
}